﻿<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <!-- Base configuration for all modules -->
                <configuration name="Foundation.SocialAssistant" extends="Base.Foundation">
                    <predicate>
                        <include name="SocialAssistant Core Button" path="/sitecore/content/Applications/WebEdit/Ribbons/WebEdit/Experience/social-assistant" database="master" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>